@import url('https://www.google.com/search?q=jai+maa+sarswati+coaching+classes+morena&rlz=1C1CHBD_enIN1095IN1096&oq=jai+maa+sarswati+coaching+classes+morena+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKABMgkIAhAhGAoYoAEyCQgDECEYChigAdIBCTI2NjM3ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8');

body {
  font-family: 'Poppins', sans-serif;
  background: #eea82d;
  display: flex;
  justify-content: center;
}

.container {
  width: 550px;
  padding: 20px;
  margin-top: 150px;
  background-color: #f6d7d7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}